html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button {
  padding: 1rem 2rem;
}

.button-area {
  display: flex;
  width: 100%;
  padding: 0 6rem;
  margin: 2rem 0;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: baseline;
}

.current-page {
  color: green;
  font-weight: bold;
}

.quote-list {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.quote-list-item {
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
}

.quote-list-item > .quote-text {
  opacity: 0.9;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.quote-list-item > .quote-speaker {
  color: rgb(64, 46, 12);
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	width: max-content;
	translate: -50% -50%;
	border: var(--small-border);
	box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(var(--header-height) * 1) 1fr min-content;
	justify-items: center;
	gap: 1rem;
	padding: calc(var(--header-height) / 2);
	transition: all 300ms ease, opacity 200ms ease;
	z-index: 1;
	border-radius: 1rem;
}

.error-messages {
	position: absolute;
}

.modal > .modal-message {
	font-size: 1.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.modal > .modal-message > .highlighted {
	font-size: 2rem;
	font-weight: bold;
}

.modal.obscured {
	transform: scaleX(0.95);
	opacity: 0;
	pointer-events: none;
}

.modal .button-area {
	align-items: center;
	justify-content: center;
	min-height: unset;
}

.modal.delete-modal button:not(.red) {
	padding: 1rem 3rem;
	margin: 1rem;
}

.modal#login-modal {
	background-color: rgb(70, 84, 63);
}

.modal#register-modal {
	background-color: rgb(116, 124, 74);
}

.modal.delete-modal {
	background-color: rgb(76, 64, 64);
}

.modal.edit-modal {
	background-color: rgb(76, 76, 64);
}

.modal#create-flavor-modal, .modal#add-flavor-modal {
	background-color: var(--flavor-bg-color)
}

.modal#create-treat-modal, .modal#add-treat-modal {
	background-color: var(--treat-bg-color)
}

.not-logged-in-message, .empty-list-message {
	margin: 1rem;
	margin-top: 2rem;
	font-style: italic;
	opacity: 0.8;
}

.x-button, .x-button::after {
	border-radius: 0.125rem;
	padding: 0;
	margin: 0;
	width: calc(var(--header-height) / 2);
	height: calc(var(--header-height) / 2);
	background-color: red;
}

.x-button::after {
	content: "X";
	color: white;
}
