@using ArrestedDevelopmentClient.Models
@model Quote

<div class="modal-message">
  <div>Are you sure you want to delete</div>
  <div class="highlighted">"@Html.DisplayFor(model => model.Text)" by @Html.DisplayFor(model => model.Speaker)?</div>
</div>
<div class="button-area">
  @using (Html.BeginForm("Delete", "Home", new { id = @Model.QuoteId, currentPage = ViewBag.CurrentPage }))
  {
    <button class="red" type="submit">Delete</button>
  }
</div>

<a href='@Url.Action("Index", "Home")'>
  <button>Cancel</button>
</a>