@{
    ViewData["Title"] = "Home Page";
}

<a href="/Account/">
<button>Account Index</button>
</a>

<div class="text-center">
    <h1 class="display-4">Arrested Development</h1>
    <p>Learn about all of the character quotes below</a>.</p>
</div>

<div class="button-area">
    @if (ViewBag.CurrentPage > 1) {
        <a href='/?page=@(ViewBag.CurrentPage - 1)&pageSize=@ViewBag.PageSize'>
            <button>Prev</button>
        </a>
    }
    @for (var i = (ViewBag.CurrentPage > 3 ? ViewBag.CurrentPage - 3 : 1); i < (ViewBag.CurrentPage <= ((ViewBag.LastId / ViewBag.PageSize) -2) ? ViewBag.CurrentPage + 4 : ((ViewBag.LastId / ViewBag.PageSize) + 2)); i++) {
        @if (i == ViewBag.CurrentPage) {
            <div class="current-page">@(i)</div>
        } else {
            <a class="page-link" href="/?page=@(i)&pageSize=@ViewBag.PageSize">@(i)</a>
        }
    }
    @if (ViewBag.CurrentPage < ((ViewBag.LastId / ViewBag.PageSize) + 1))
    {
        <a href='/?page=@(ViewBag.CurrentPage + 1)&pageSize=@ViewBag.PageSize'>
            <button>Next</button>
        </a>
    }
</div>

<h1 class="page-header">All Quotes</h1>

@if (Model != null)
{
<ul class="quote-list">
    @foreach (Quote quote in Model)
    {
        <li class="quote-list-item">
            <div class="quote-text">"@quote.Text"</div>
            <div class="quote-speaker">- @quote.Speaker</div>
        </li>
    }
</ul>
}
else
{
    <p>No quotes found</p>
}

